.Project {
    min-height: 100vh;
    height: max-content;
}

.Project h2{
    font-size: 2rem;
    text-decoration: underline;
}

.Project p {
    width: 90%;
    margin: 2em;
    font-size: 1.4rem;
    font-family: "Futura Thin";
}

.Project span {
    font-family: "Futura";
}