.Tooltip {
    position: relative;
    display: inline-block;
    width: initial;
}

.Tooltip .TooltipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;  

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.5s;
}

.Tooltip:hover .TooltipText {
    visibility: visible;
    opacity: 1;
}