@value colors: "../../colors.css";
@value primary-red from colors;


.Projects {
    grid-column: 3/4;
    max-height: max-content;
}

.Header{
    font-size: 5rem;
    font-style: italic;
    font-family: "Futura Bold";
}

@media screen and (min-width: 1920px) {
    .Header {
        font-size: 6rem;
    }
}