@value colors: "../../colors.css";
@value primary-red from colors;



.Timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.Event::before {
    content: "";
    position: relative;
    top: 0%;
    left: -2.9%;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    background: primary-red;
    display: inline-block;
}

.Event{
    border-left: 3px solid primary-red;
    padding: 0 1em 1em 1em;
    width: 100%;
    margin: 0 0 0 5em;
}

.Event p {
    font-family: "Futura";
    color: #666;
}


@media screen and (min-width: 1920px) {
    .Event::before {
        left: -2.05%;
    }

    .Event h3 {
        font-size: 2rem;
    }

    .Event p {
        font-size: 1.2rem;
    }
}